/* TODO:*/
/*set up the complementary colors of the website*/

/* Defining the color palette of the website*/
:root {
    --dominant-color: #2d3949;
    --secondary-color: #415263;
    --complementary-color:;
    --accent-color: #1dc77c;
    --black-color: #474747;
    --white-text: #fff;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Hero */
h1.hero-title {
    margin-top: 0.5rem;
    z-index: 1111;
}

.hero-image {
    z-index: 0;
}

.hero-subtitle {
    font-size: 2rem;
    line-height: 2.3;
    margin-bottom: 0;
    font-weight: normal;
}

.hero-contacts {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.hero-contacts a {
    display: inline-block;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--white-text);
    margin-right: 0.6rem;
    padding-right: 0;
    margin-bottom: 0;
}

/* Typography */

html {
    /* 62.5% of 16px = 10px*/
    font-size: 62.5%;
}

body {
    color: var(--black-color);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}

h2, h3 {
    color: var(--secondary-color);
    font-family: open-sans, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
}

h1 {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 6rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

/* Buttons */

.btn {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    margin: 1rem 0;
    padding: 1.2rem 2rem;
    text-align: center;
    white-space: nowrap;
}

/* TODO: insert button hover color, darker green */
.btn:hover{
    background-color: ;
}

.btn-accent {
    background-color: var(--accent-color);
    color: var(--white-text);
    padding: 1.2rem 5rem;
}

.btn-callout {
    border-radius: 30px;
    text-transform: uppercase;
}

.btn-contact {
    background-color: #fff;
    color: var(--secondary-color);
}

/* TODO: insert button hover color, darker white */
.btn-contact:hover {
    background-color: ;
}

.btn-block {
    display: inline-block;
    width: 100%;
}

.btn-stretch {
    padding-left: 6rem;
    padding-right: 6rem;
}

/* Media */

.media {
    display: block;
    padding: 2rem 1rem;
    text-align: center;
}

.media-icon {
    color: var(--dominant-color);
    font-size: 8rem;
}

.media-body p {
    font-size: 2.2rem;
}

.media_title {
    font-size: 3.2rem;
}

/* Blocks */

.blocks {
    padding: 2rem 3rem;
}

.block-dark {
    background: var(--dominant-color);
    color: var(--white-text);
}

.block-dark .block-heading{
    color: var(--white-text);
}

.block-content {
    padding: 2rem 3rem;
    text-align: center;
}

.curve {
    padding: 0;
}

.curve svg {
    display: block;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Quotes */

.quote {
    font-family: Perpetua, Arial, Helvetica, sans-serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.quote-text::before {
    content: open-quote;
}

.quote-text::after {
    content: close-quote;
}

.quote-name {
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.quote-occupation {
    font-style: normal;
}

/* Grids */

.grid {
    display: grid;
}

/* Callout */

.callout {
    padding: 4rem;
    border-radius: 5px;
}

.callout-content {
    text-align: center;
}

.callout-accent {
    background-color: var(--accent-color);
    color: var(--white-text);
}

.callout-heading {
    color: var(--white-text);
    margin-top: 0;
    white-space: nowrap;
}

.callout .btn-contact{
    color: var(--accent-color);
}

.callout a {
    justify-self: center;
    align-self: center;
}

/* Navbar */

.nav {
    align-items: center;
    background-color: #2d3949;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    white-space: nowrap;
}

.list {
    list-style: none;
    padding-left: 0;
    text-decoration: none;
}

.nav-list {
    margin: 0;
    text-align: center;
    width: 100%;
}

.nav-item {
    border-bottom: 2px solid #999;
    padding: 0.5rem 4rem;
}

.nav-item > a {
    color: var(--white-text);
    transition: color .3s;
}

.nav-item > a:hover {
    color: #d2d0db;
}

.current > a {
    color: var(--accent-color);
}

/* TODO: set the hover color */
.current:hover {
    color: ;
}

.fa-bars {
    color: var(--accent-color);
    cursor: pointer;
    font-size: 5rem;
}

/* TODO: add hover color */
.fa-bars:hover {
    color: ;
}

/* TODO: add hover color */
.collapsible-expanded .fa-bars {
    color: ;
}

.logo {
    width: 5rem;
}

.collapsible-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.collapsible-expanded .collapsible-content {
    max-height: 100vh;
    opacity: 1;
}

.nav-button {
    margin: 1rem auto;
}

/* Media Queries for tablets */

@media screen and (min-width: 768px) {
    .grid-1x2 {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Callout */

    .callout .grid-1x2 {
        grid-template-columns: 1fr auto;
    }

    .callout-content {
        text-align: left;
    }

    .callout a {
        justify-self: start;
        margin: 0 3rem;
    }

    /* Navbar */

    .toggle {
        display: none;
        
    }

    .nav-list {
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
        width: auto;
    }

    .nav-button{
        max-height: 100%;
        opacity: 1;
    }

    .nav-item {
        border: 0;
    }

    .nav-button {
        margin: 0;
    }

}


/* Media Queries for PC and Desktops */

@media screen and (min-width: 1024px) {
    body{
        font-size: 3.5rem;
    }
    
    h1 {
        font-size: 13rem;
    }

    h2 {
        font-size: 5.5rem;
    }

    h3 {
        font-size: 5rem;
    }

    p {
        font-size: 3.2rem;
    }

    /* Hero */
    .block-content{
        text-align: left;
    }

    .hero-image {
        width: 55rem;
        position: absolute;
        top: 100px;
        right: 120px;
        z-index: 0;
    }

    .hero-title {
        font-size: 11rem;
        margin-bottom: 0;
        line-height: 1.3;
        z-index: 11;
    }

    .hero-subtitle {
        width: 50rem;
        line-height: 1.8;
        margin-bottom: 1rem;
    }

    .btn-block {
        display: hidden;
    }

    .hero-contacts a {
        margin-right: 5rem;
    }

    /* Buttons */
    .btn {
        font-size: 2rem;
    }

    /* Media */

    .media-icon {
        font-size: 10rem;
    }

    .media_title {
        font-size: 5.5rem;
    }

    .media-body p {
        font-size: 3.2rem;
    }

    /* Grids*/
    .grid-1x3 {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Navbar */
    .nav-item {
        padding: 0.5rem 6rem;
    }
}