/* Defining the color palette of the website*/
:root {
    --dominant-color: #2d3949;
    --secondary-color: #415263;
    --complementary-color1:#20b7ba;
    --complementary-color2:#39a7d5;
    --complementary-color3:#2c75bc;
    --accent-color: #1dc77c;
    --accent-hover: #1baa6c;
    --black-color: #474747;
    --white-text: #fff;
    --white-text--hover: #d2d0db;
}

/* changing the color of text when selected */
::selection {
    background-color: var(--accent-color);
    color: var(--white-text);
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */

html {
    /* 62.5% of 16px = 10px*/
    font-size: 62.5%;
}

body {
    color: var(--black-color);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}

h2, h3 {
    color: var(--secondary-color);
    font-family: open-sans, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
}

h1 {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 6rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

/* Hero Section */
.hero-title {
    margin-top: 0.5rem;
    position: relative;
    z-index: 1111;
}

.hero-image {
    padding: 1rem 5rem;
}

.hero-subtitle {
    line-height: 2.3;
    margin-bottom: 0;
    padding: 0.1rem 1.5rem;
}

.hero-contacts {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.hero-contacts a {
    display: inline-block;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--white-text);
    margin-right: 0.6rem;
    padding-right: 0;
    transition: color ease .4s;
}

.hero-contacts a:hover {
    color: var(--white-text--hover);
}

/* Navbar */

.nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding: 1rem;
    white-space: nowrap;
}

.list {
    list-style: none;
    padding-left: 0;
    text-decoration: none;
}

.nav-list {
    font-family: open-sans, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    margin: 0;
    text-align: center;
    width: 100%;
}

.nav-item {
    border-bottom: 2px solid #999;
    padding: 0.5rem 4rem;
}

.nav-item>a {
    color: var(--white-text);
    transition: color .3s;
}

.nav-item>a:hover {
    color: var(--white-text--hover);
}

.current>a {
    color: var(--accent-color);
}

.current a:hover {
    color: var(--accent-hover);
}

.fa-bars-staggered {
    color: var(--accent-color);
    cursor: pointer;
    font-size: 4.5rem;
    transition: color .3s;
}

.fa-bars-staggered:hover {
    color: var(--accent-hover);
}

.logo {
    width: 4.5rem;
    display: flex;
    align-items: center;
}

.collapsible-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.collapsible-expanded .collapsible-content {
    max-height: 100vh;
    opacity: 1;
}

.nav-button {
    margin: 1rem auto;
}

/* Buttons */

.btn {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
    padding: 1.2rem 2rem;
    text-align: center;
    white-space: nowrap;
}

.btn-accent {
    background-color: var(--accent-color);
    color: var(--white-text);
    padding: 1.2rem 3.5rem;
    transition: all .4s ease;
}

.btn-accent:hover {
    background-color: var(--accent-hover);
}

.btn-callout {
    border-radius: 30px;
    text-transform: uppercase;
}

.btn-contact {
    background-color: #fff;
    color: var(--secondary-color);
}

.btn-contact:hover {
    background-color: var(--white-text--hover);
}

.btn-block {
    display: inline-block;
    width: 100%;
}

.btn-stretch {
    padding-left: 6rem;
    padding-right: 6rem;
}

/* Blocks */

.blocks {
    padding: 2rem 3rem;
}

.block-dark {
    background: var(--dominant-color);
    color: var(--white-text);
}

.block-gradient {
    background: var(--dominant-color);
    background: radial-gradient(circle, rgba(32, 183, 186, 1) 5%, rgba(57, 167, 213, 1) 10%, rgba(44, 117, 188, 1) 30%, rgba(45, 57, 73, 1) 55%);
    color: var(--white-text);
}

.block-dark .block-heading {
    color: var(--white-text);
}

.block-content {
    padding: 2rem 3rem;
    text-align: center;
}

.curve {
    padding: 0;
}

.curve svg {
    display: block;
}

/* Container */

.container {
    margin: 0 auto;
    max-width: 1140px;
    text-align: center;
}

/* Media */

.media-content {
    display: flex;
    margin: 2rem auto;
}

.block-dark .media-title {
    color: var(--white-text);
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.media-body {
    margin: 0 2rem;
}

.media-body p {
    font-size: 1.5rem;
    letter-spacing: 0.8px;
    opacity: 0.8;
}

.media-icon {
    margin-top: 1.8rem;
}

.media-icon i {
    border-radius: 50%;
    border: 2px dashed var(--complementary-color1);
    color: var(--white-text);
    font-size: 3rem;
    padding: 1.5rem;
}

/* Grids */

.grid {
    display: grid;
}

/* features */

.tag {
    margin-bottom: 10px;
    text-align: center;
    white-space: nowrap;
}

.tag-title {
    background-color: var(--dominant-color);
    border-radius: 15px;
    color: var(--white-text);
    font-size: 1.6rem;
    padding: 0.3rem 2rem;
}

.block-dark .tag-title {
    background: var(--accent-color);
}

.features {
    padding: 3rem 1rem;
    text-align: center;
    width: 40rem;
}

.feature-icon {
    background: var(--accent-color);
    border-radius: 50%;
    color: var(--white-text);
    font-size: 5rem;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 100px;
}

.feature-header {
    font-size: 3.2rem;
}

.feature-body p {
    font-size: 2rem;
}

.owl-dots {
    margin-top: 8px;
    text-align: center;
}

.owl-dot {
    background: var(--dominant-color) !important;
    border-radius: 14px;
    height: 14px;
    margin: 0 6px;
    outline: none;
    transition: .3s linear;
    width: 14px;
}

.owl-dot.active {
    background: var(--accent-color) !important;
    width: 36px;
}

.owl-dot.hover {
    background: var(--accent-color) !important;
    width: 36px;
}

/* App showcase section  */

.app-showcase {
    height: 700px;
    margin-top: 6rem;
    text-align: center;
}

.app-image {
    width: 25rem;
}

.app-title {
    background-color: var(--accent-color);
    border-radius: 4px;
    color: var(--white-text);
    font-size: 6rem;
    padding: 0.5rem 2rem;
    position: relative;
    text-align: center;
    top: -120px;
}

.download-app {
    background-color: #b9b8b8;
    height: 170px;
    padding: 2rem;
    position: relative;
    top: -100px;
}

.download-app p {
    font-size: 1.5rem;
    margin: 0;
}

.store {
    width: 15rem;
}

/* App features */

.app-features {
    margin: auto;
}

.app-features .media-content {
    text-align: left;
}

.mockup-image {
    align-self: center;
    justify-self: center;
    width: 26rem;
}

/* Quotes */

.quote {
    color: var(--dominant-color);
    font-family: Perpetua, Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.quote-image {
    height: 16rem;
    width: 18rem;
    margin-bottom: 2rem;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid var(--accent-color);
    padding: 0.5rem;
}

.quote-text {
    margin: auto;
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.quote-text::before {
    content: open-quote;
}

.quote-text::after {
    content: close-quote;
}

.quote-name {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.quote-occupation {
    font-size: 2.4rem;
    font-style: normal;
}

/* The sponsors section  */

.web-content {
    text-align: center;
}

.sponsor-logos img {
    margin: 0.8rem 2rem;
    width: 13rem;
}

/* Guarantee section  */

.guarantee img {
    align-self: center;
    display: flex;
    justify-self: center;
    width: 35rem;
}

.guarantee-content .quote {
    font-size: 2.9rem;
}

.guarantee-content h3 {
    color: var(--accent-color);
}

/* Compatibility section */

.compatibility h1 {
    color: var(--dominant-color);
    opacity: .3;
}

/* Callout */

.callout {
    padding: 4rem;
    border-radius: 5px;
}

.callout-content {
    text-align: center;
}

.callout-accent {
    background-color: var(--accent-color);
    color: var(--white-text);
}

.callout-heading {
    color: var(--white-text);
    margin-top: 0;
    white-space: nowrap;
}

.callout .btn-contact{
    color: var(--accent-color);
}

.callout a {
    justify-self: center;
    align-self: center;
}

/* Footer */

footer.blocks {
    padding-bottom: 1rem;
}

.footer-sections h2 {
    color: var(--white-text);
}

.footer-image {
    width: 100%;
}

.copyright {
    font-size: 1.7rem;
    text-align: center;
    opacity: 0.6;
    margin: 0;
}

/* Media Queries for tablets */

@media screen and (min-width: 768px) {

    /* Grids */

    .grid-1x2 {
        grid-template-columns: repeat(2, 1fr);
    }

    /* App Section */

    .app-showcase {
        height: 570px;
    }
    
    .app-image {
        width: 65rem;
    }

    .app-title {
        background: none;
        color: var(--dominant-color);
        font-size: 10rem;
        left: -64px;
        text-align: center;
        top: -340px;
        word-spacing: 230px;
    }

    .download-app {
        top: -370px;
    }

    /* Quote section */

    .quote-text {
        margin-bottom: 3rem;
    }

    /* web content */

    .text-width {
        margin: 0 auto;
        width: 78rem;
    }

    /* Callout */

    .callout .grid-1x2 {
        grid-template-columns: 1fr auto;
    }

    .callout-content {
        text-align: left;
    }

    .callout a {
        justify-self: start;
        margin: 0 3rem;
    }

    /* Footer */

    .footer-sections {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .footer-brand {
        order: -1;
    }

    .footer-contact {
        order: 1;
    }

}

/* Media Queries for PC and Desktops */

@media screen and (min-width: 1024px) {
    body{
        font-size: 3.5rem;
    }
    
    h1 {
        font-size: 13rem;
    }

    h3 {
        font-size: 3.4rem;
    }

    p {
        font-size: 1.8rem;
    }

    /* Hero */
    .hero-content{
        padding: 0;
        text-align: left;
    }

    .hero-image {
        padding: 0;
        position: absolute;
        right: 120px;
        top: 100px;
        width: 54rem;
    }

    .hero-title {
        font-size: 9rem;
        line-height: 1.3;
        margin-bottom: 0;
        z-index: 11;
    }

    .hero-subtitle {
        line-height: 1.8;
        margin-bottom: 1rem;
        width: 50rem;
        padding: 0;
        font-size: 2rem;
    }

    .btn-block {
        display: hidden;
    }

    .hero-contacts {
        bottom: -6rem;
        position: relative;
    }

    .hero-contacts a {
        margin-right: 5rem;
    }

    /* Navbar */

    .nav {
        margin-bottom: 5rem;
    }

    .toggle {
        display: none;

    }

    .nav-list {
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
        width: auto;
    }

    .nav-button {
        max-height: 100%;
        opacity: 1;
        margin: 0;
    }

    .nav-item {
        border: 0;
        padding: 0.5rem 5rem;
    }

    /* Buttons */

    .btn {
        font-size: 1.5rem;
    }

    /* Blocks */

    .block-gradient {
        background: radial-gradient(circle at 70%, rgba(32, 183, 186, 1) 5%, rgba(57, 167, 213, 1) 10%, rgba(44, 117, 188, 1) 30%, rgba(45, 57, 73, 1) 55%);
    }

    /* Grids */

    .grid-1x3 {
        grid-template-columns: repeat(3, 1fr);
    }

    /* features */

    .features {
        width: 80rem;
    }

    .feature-icon {
        font-size: 5rem;
    }

    .feature-header {
        font-size: 2.3rem;
    }

    .feature-body p {
        font-size: 1.7rem;
    }   

    /* App section  */

    .download-app {
        top: -250px;
    }

    /* Quote section */

    .quote-text {
        margin-bottom: 3rem;
    }
}