<!-- App showcase -->
<div class="app">
    <div class="app-showcase container">

        <!--overview of the app-->
        <div>
            <!--Changes the image depending on the screen size-->
            <picture>
                <source media="(max-width: 768px)" srcset="images/phone2.png">
                <source media="(min-width: 769px)" srcset="images/phone1.png">
                <img class="app-image" src="images/phone1.png" alt="">
            </picture>
            <h2 class="app-title">Coming Soon</h2>
        </div>

        <!--link to download app-->
        <div class="download-app">
            <p>To access our features anytime, download our mobile app</p>
            <a href="#"><img class="store" src="images/Google-play.svg" alt="play store link"></a>
            <a href="#"><img class="store" src="images/App-store.svg" alt="app store link"></a>
        </div>

    </div>
</div>

<!-- App's features -->
<section class="blocks block-dark curve">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
        <path fill="#fff" fill-opacity="1"
            d="M0,160L80,165.3C160,171,320,181,480,160C640,139,800,85,960,85.3C1120,85,1280,139,1360,165.3L1440,192L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
    </svg>
    <div class="app-features block-content container">
        <div class="grid grid-1x2">
            <img class="mockup-image" src="images/MockUp.png" alt="">

            <!-- App feature content -->
            <div class="media">
                <div class="media-header">
                    <div class="tag">

                        <!-- Small header tag -->
                        <span class="tag-title">App Features</span>
                    </div>
                </div>

                <div class="media-content">
                    <div class="media-icon">
                        <i class="fa-solid fa-book-atlas"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-title">Getting Docs</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iste provident amet illum
                            nisi
                            voluptatibus quis illo magnam sint hic.</p>
                    </div>
                </div>

                <div class="media-content">
                    <div class="media-icon">
                        <i class="fa-solid fa-book-atlas"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-title">Getting Docs</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iste provident amet illum
                            nisi
                            voluptatibus quis illo magnam sint hic.</p>
                    </div>
                </div>

                <div class="media-content">
                    <div class="media-icon">
                        <i class="fa-solid fa-book-atlas"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-title">Getting Docs</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iste provident amet illum
                            nisi
                            voluptatibus quis illo magnam sint hic.</p>
                    </div>
                </div>

                <div class="media-content">
                    <div class="media-icon">
                        <i class="fa-solid fa-book-atlas"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-title">Getting Docs</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iste provident amet illum
                            nisi
                            voluptatibus quis illo magnam sint hic.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>