<!-- The Features section which describes the services we provide summarized -->
<div class="feature-section">
  <div class="tag"> <!-- Small header tag -->
    <span class="tag-title">Features</span>
  </div>
    <!-- Carousel -->
    <div class="features owl-carousel container">
      <div class="feature">
        <div class="feature-icon">
          <i class="fa-solid fa-book-atlas"></i>
        </div>
        <div class="feature-body">
          <h2 class="feature-header">Online Library</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, rem ullam! Modi eaque ad assumenda tenetur</p>
        </div>
      </div>
  
      <div class="feature">
        <div class="feature-icon">
          <i class="fa-solid fa-piggy-bank"></i>
        </div>
        <div class="feature-body">
          <h2 class="feature-header">Free</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, rem ullam! Modi eaque ad assumenda tenetur</p>
        </div>
      </div>
  
      <div class="feature">
        <div class="feature-icon">
          <i class="fa-solid fa-download"></i>
        </div>
        <div class="feature-body">
          <h2 class="feature-header">Download</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, rem ullam! Modi eaque ad assumenda tenetur</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature-icon">
          <i class="fa-solid fa-file-circle-check"></i>
        </div>
        <div class="feature-body">
          <h2 class="feature-header">Testpapers</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, rem ullam! Modi eaque ad assumenda tenetur</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature-icon">
          <i class="fa-solid fa-file-circle-plus"></i>
        </div>
        <div class="feature-body">
          <h2 class="feature-header">Latest Updates</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, rem ullam! Modi eaque ad assumenda tenetur</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature-icon">
          <i class="fa-solid fa-users-gear"></i>
        </div>
        <div class="feature-body">
          <h2 class="feature-header">User Friendly</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, rem ullam! Modi eaque ad assumenda tenetur</p>
        </div>
      </div>
    </div>
  
</div>

 <!-- JavaScript files-->
<script>
  $('.features').owlCarousel({
    margin:30,
    loop:true,
    autoplay:true,
    autoplayTimeout:2000,
    autoplayHoverPause:true,
    responsive:{
      0:{
        items:1
      },
      1000:{
        items:2
      },
      1600: {
        items:3
      }
    }
  });
</script>