<!-- footer section -->
<footer class="blocks block-dark">
    <div class="container grid footer-sections">
        <section class="footer-contact">
            <h2>Contact us</h2>
        </section>
        <section class="footer-links">
            <h2>Links</h2>
        </section>
        <section class="footer-brand">
            <img class="footer-image" src="images/code.png" alt="Logo of company">
        </section>
    </div>
    <section>
        <p class="copyright">&copy 2023 Govan</p>
    </section>
</footer>