<nav class="nav collapsible collapsible-expanded container">
<a href="index.html"><img class="logo" src="images/Logo.svg" alt="Image of the websites logo" srcset=""></a>
<div class="toggle"><i class="fa-solid fa-bars"></i></div>
<ul class="list nav-list collapsible-content">
    <li class="nav-item"><a href="#">Home</a></li>
    <li class="nav-item"><a href="#">About</a></li>
    <li class="nav-item"><a href="#">Contact</a></li>
    <li class="nav-item"><a href="#">Features</a></li>
</ul>
<a href="#" class="nav-button collapsible-content">
    <button class="btn btn-accent btn-callout ">Login</button>
</a>
</nav>

<!-- JavaScript files-->
<script src="js/main.js"></script>