<div class="block">
    <div class="block-content container">
        <h2>What Our Clients Are Saying</h2>
        <blockquote class="quote">
            <p class="quote-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nemo voluptatum
                atque quam blanditiis rerum necessitatibus reprehenderit exercitationem expedita assumenda iure laborum
                quia id doloribus, quibusdam voluptas aut veritatis optio.</p>
            <p class="quote-name">Thembi Dibotelo</p>
            <p class="quote-occupation">Student</p>
        </blockquote>
    </div>
</div>